# Deployed Intelligent Contract Address on GenLayer Studionet
VITE_CONTRACT_ADDRESS=0x2676763dBD21891C5D4945d0e20D2108802C0997

# Target Project Repository GitHub URL
VITE_GITHUB_URL=https://github.com/ptc123456/ai-nft-studio-genlayer
