# Deployed Intelligent Contract Address on GenLayer Bradbury Testnet (Leave empty if not deployed)
VITE_CONTRACT_ADDRESS=

# Target Project Repository GitHub URL
VITE_GITHUB_URL=https://github.com/ptc123456/ai-nft-studio-genlayer
